{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<!-- Landing Page -->
<div class="container mt-5">
        {% if users%}
        <h2>Found for {{users | length}} result(s) searched term {{message}}</h2>
        <hr>
        <div class="contain col-sm-6 user">
            {% for user in users %}
            <div class="users">
                {% if user.profile.photo %}
                <img src="{{user.profile.photo.cdn_url}}" alt="Profile Photo" width="70" height="70" class=""
                style="border-radius: 50%">
                {% else %}
                <img src="/static/images/avatar.jpg" alt="Avatar"  width="70" height="70" class=""
                style="border-radius: 50%">
                {% endif %}
                <a href="{% url 'profile' username=user.username %}" class="link">
                <span class="list-inline username ml-2">{{user.username}}</span>
                </a>

            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2>Found 0 users for the search term {{message}}</h2>
        {% endif %}
</div>

{% endblock %}