{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a id="v-pills-home-tab" href="#v-pills-home" data-toggle="pill" class="nav-link active side" role="tab" aria-controls="v-pills-home" aria-selected="true">Edit Profile</a>
                <a class="nav-link side" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Change Password</a>
                <a class="nav-link side" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Terms and Conditions</a>
                {% if profile_details.photo %}
                <img src="{{profile_details.photo.cdn_url}}" alt="Profile Photo"  width="250" height="250" class="mt-5" style="border-radius: 50%">
                {% else %}
                <img src="/static/images/avatar.jpg" alt="Avatar"  width="250" height="250" class="" style="border-radius: 50%">
                {% endif %}
                <div>
                    <span><strong>{{ profile_details.user.username }}</strong></span><br>
                    <p>
                        {% autoescape on %}
                        {{profile_details.bio| safe}}
                        {% endautoescape %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-sm btn-primary" value="Submit">
                        </div>
                        <input type="hidden" name="next" value="/profile">
                    </form>
                </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                    <p>To change your old password, you need to have your old password</p>
                    <p><a href="/accounts/password/change">Click here to change</a></p>

                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h4>This application is licenced under MIT Licence</h4>
                    <p>The data in this application will not be distributed to any third party.</p>
                    <p>The creator is not liable to misuse by any third party user through download or malicious software.</p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}